$nav_color: #ffffff;
$blue:  #2196f3;
header{
  display: flex;
  height: 65px;
  background-color: $nav-color;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}

.nav_settings{
    float: right;
    line-height: 65px;
    .nav-settings-elements{
      display: flex;
      .nav-settings-elem{
        margin-right: 15px;
      }
    }
  }

.logotype{
  display: flex;
  width: 160px;
  min-width: 120px;
  height: 65px;
  color: white;
  background-color: $blue;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.menu{
  display: flex;
  margin-left: 45px;
}

.menu_item{
  margin: 0 10px;
}